<div class="login-container">
  <!-- Form di Login -->
  <form *ngIf="showLoginForm" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" class="login-form">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Email</mat-label>
      <input placeholder="Email" matInput type="email" formControlName="email" autocomplete="email"
        class="input-field col s12">
      <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Email non valida</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Password</mat-label>
      <input placeholder="Password" matInput type="password" formControlName="password" autocomplete="current-password"
        class="input-field col s12">
    </mat-form-field>
    <div class="forgot-password-link" *ngIf="showLoginForm">
      <button mat-button (click)="openPasswordRecoveryDialog()">Password dimenticata?</button>
    </div>
    <a [attr.href]="loginForm.valid ? '/' : null" class="bn39 bn39span" (click)="loginForm.valid && onLoginSubmit()">
      <span class="bn39span">Accedi</span>
    </a>
  </form>

  <!-- Form di Registrazione -->
  <form *ngIf="!showLoginForm" [formGroup]="registrationForm" (ngSubmit)="onRegistrationSubmit()"
    class="registration-form">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Nome</mat-label>
      <input placeholder="Nome" matInput type="text" formControlName="firstName" required class="input-field col s12">
      <mat-error *ngIf="registrationForm.get('firstName')?.hasError('required')">Nome richiesto</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Cognome</mat-label>
      <input placeholder="Cognome" matInput type="text" formControlName="lastName" required class="input-field col s12">
      <mat-error *ngIf="registrationForm.get('lastName')?.hasError('required')">Cognome richiesto</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Email</mat-label>
      <input placeholder="Email" matInput type="email" formControlName="email" required autocomplete="email"
        class="input-field col s12">
      <mat-error *ngIf="registrationForm.get('email')?.hasError('required')">Email richiesta</mat-error>
      <mat-error *ngIf="registrationForm.get('email')?.hasError('email')">Email non valida</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Password</mat-label>
      <input placeholder="Password" matInput type="password" formControlName="password" required
        class="input-field col s12">
      <mat-error *ngIf="registrationForm.get('password')?.hasError('required')">Password richiesta</mat-error>
      <mat-error *ngIf="registrationForm.get('password')?.hasError('minlength')">La password deve essere di almeno 6
        caratteri</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Conferma Password</mat-label>
      <input placeholder="Conferma Password" matInput type="password" formControlName="confirmPassword" required
        class="input-field col s12">
      <mat-error *ngIf="registrationForm.get('confirmPassword')?.hasError('required')">Conferma password
        richiesta</mat-error>
      <mat-error *ngIf="registrationForm.hasError('passwordMismatch')">Le password non corrispondono</mat-error>
    </mat-form-field>

    <a [attr.href]="registrationForm.valid ? '/' : null" class="bn39 bn39span"
      (click)="registrationForm.valid && onRegistrationSubmit()">
      <span class="bn39span">Registrati</span>
    </a>
  </form>

  <!-- Pulsante per cambiare tra il form di login e il form di registrazione -->
  <button (click)="toggleLoginForm()" class="toggle-button">{{ showLoginForm ? 'Registrati' : 'Accedi' }}</button>

</div>