<div class="login-container">
  <!-- Form di Login -->
  <form *ngIf="showLoginForm" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" class="login-form">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Email</mat-label>
      <input placeholder="Email" matInput type="email" formControlName="email" required autocomplete="email"
        class="input-field col s12">
      <mat-error *ngIf="loginForm.get('Email')?.hasError('required')">Email richiesta</mat-error>
      <mat-error *ngIf="loginForm.get('Email')?.hasError('email')">Email non valida</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Password</mat-label>
      <input placeholder="Password" matInput type="password" formControlName="password" required
        autocomplete="current-password" class="input-field col s12">
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password richiesta</mat-error>
    </mat-form-field>

    <div class="forgot-password-link" *ngIf="showLoginForm">
      <!-- Utilizza un bottone o un link con un evento click per chiamare la funzione openPasswordRecoveryDialog() -->
      <button mat-button (click)="openPasswordRecoveryDialog()">Password dimenticata?</button>
    </div>

    <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid"
      class="login-button">Accedi</button>
  </form>

  <!-- Form di Registrazione -->
  <form *ngIf="!showLoginForm" [formGroup]="registrationForm" (ngSubmit)="onRegistrationSubmit()"
    class="registration-form">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Nome</mat-label>
      <input placeholder="Nome" matInput type="text" formControlName="firstName" required class="input-field col s12">
      <mat-error *ngIf="registrationForm.get('firstName')?.hasError('required')">Nome richiesto</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Cognome</mat-label>
      <input placeholder="Cognome" matInput type="text" formControlName="lastName" required class="input-field col s12">
      <mat-error *ngIf="registrationForm.get('lastName')?.hasError('required')">Cognome richiesto</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Email</mat-label>
      <input placeholder="Email" matInput type="email" formControlName="email" required autocomplete="email"
        class="input-field col s12">
      <mat-error *ngIf="registrationForm.get('email')?.hasError('required')">Email richiesta</mat-error>
      <mat-error *ngIf="registrationForm.get('email')?.hasError('email')">Email non valida</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Password</mat-label>
      <input placeholder="Password" matInput type="password" formControlName="password" required
        class="input-field col s12">
      <mat-error *ngIf="registrationForm.get('password')?.hasError('required')">Password richiesta</mat-error>
      <mat-error *ngIf="registrationForm.get('password')?.hasError('minlength')">La password deve essere di almeno 6
        caratteri</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Conferma Password</mat-label>
      <input placeholder="ConfirmPassword" matInput type="password" formControlName="confirmPassword" required
        class="input-field col s12">
      <mat-error *ngIf="registrationForm.get('confirmPassword')?.hasError('required')">Conferma password
        richiesta</mat-error>
      <mat-error *ngIf="registrationForm.hasError('passwordMismatch')">Le password non corrispondono</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!registrationForm.valid"
      class="register-button">Registrati</button>
  </form>

  <!-- Pulsante per cambiare tra il form di login e il form di registrazione -->
  <button mat-raised-button color="primary" (click)="toggleLoginForm()" class="toggle-button">
    {{ showLoginForm ? 'Non hai un account? Registrati' : 'Hai già un account? Accedi' }}
  </button>
</div>